body{
    margin: 0;
    padding: 0;
}
nav .navbar-brand{
    font-size: 25px;
    font-weight: 600;
    margin-left: 30px;
    letter-spacing: 7px;
}
nav ul li{
    font-size: 20px;
    margin-right: 25px;
    font-weight: 500;
}
nav ul li:hover{
    border-bottom: 2px solid black;
}
header{
    min-height:70vh;
    width: 100%;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

}

.heading{
    padding-top: 70px;
    color: white;
}
.right img{
    margin-left: 200px;
}
main{
    min-height: 100vh;
}
.aboutHeading,.featureHeading{
    text-align: center;
    padding: 80px;
}
.aboutItem{
    align-items: center;
}
.card{
    font-size: 18px;
    text-align: center;
}
.card:hover{
    margin-top: 2px;
    -webkit-box-shadow: 3px 20px 26px -3px rgba(0,0,0,0.72);
    -moz-box-shadow: 3px 20px 26px -3px rgba(0,0,0,0.72);
    box-shadow: 3px 20px 26px -3px rgba(0,0,0,0.72);
}
.ico{
    padding-top: 10px;
    margin-left:120px;
    color: rgb(54, 166, 201) ;
}
.card-title{
    font-size: 25px;
}

.features{
    padding: 30px 0px;
    min-height: 70vh;
    background: rgb(248, 248, 248);
}
.featureImg{
    justify-content: center;
   
}
.featureImg img{
    height: 400px;
    width: 500px;
    padding-bottom: 50px;
}

.featureCard{
    padding-top: 10px;
    height: 400px;
}

.footer{
    min-height: 50vh;
    background-image: linear-gradient(19deg, #21D4FD 0%, rgb(223, 168, 248) 100%);
}
.contact{
    padding: 80px;
}
.contact h1{
    text-align: center;
}
.span{
    position: relative;
    text-decoration: none;
    padding-bottom: 10px;
}
.span:after{
    position: absolute;
    content: "";
    width: 200px;
    height: 4px;
    background: black;
    left: 4px;
    
}
.contactItems{
    padding-top: 50px;
    
}

.contactLeft{
    padding-top: 100px;
}
.contactLeft a{
    color: white;
    text-decoration: none;
}
.cico{
    margin-top: 25px;
    margin-right: 15px;
}
.contactRight{
    overflow: hidden;
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}

.contactRight iframe{
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}
.contactForm{
    padding-top: 50px;
}
.copyName{
    text-align: center;
}
.copyName h6{
    margin: 0;
}


